<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>Proyectos</h2>
        <ol class="breadcrumb">
            <li>
                <a href="/">Inicio</a>
            </li>
            <li class="active">
                <strong>Proyectos</strong>
            </li>
        </ol>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="wrapper wrapper-content animated fadeInUp">
            <div class="ibox">
                <div class="ibox-title">
                    <h5>Todos los Proyectos</h5>
                    <div class="ibox-tools">
                        <a [routerLink]="['/proyectos/nuevo']" class="btn btn-sm btn-primary pull-right m-t-n-xs">
                            Nuevo Proyecto</a>
                    </div>
                </div>
                <proyecto-list></proyecto-list>
            </div>
        </div>
    </div>
</div>
