<div class="row">
    <div class="col-sm-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Resumen proyectos</h5>
            </div>
            <div class="ibox-content">
                <proyecto-adjuntos></proyecto-adjuntos>
                <proyecto-informacion-basica></proyecto-informacion-basica>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="ibox float-e-margins">
                            <div class="ibox-title">
                                <h5>Experimentos</h5>
                                <div class="ibox-tools">
                                    <a class="collapse-link">
                                        <i class="fa fa-chevron-up"></i>
                                    </a>
                                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                        <i class="fa fa-wrench"></i>
                                    </a>
                                    <ul class="dropdown-menu dropdown-user">
                                        <li><a href="#">Config option 1</a>
                                        </li>
                                        <li><a href="#">Config option 2</a>
                                        </li>
                                    </ul>
                                    <a class="close-link">
                                        <i class="fa fa-times"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="ibox-content">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            <input class="input-sm form-control" placeholder="Filtrar" type="text">
                                        </div>
                                    </div>
                                    <div class="col-sm-12">
                                        <table class="table table-striped">
                                            <thead>
                                            <tr>
                                                <th>Protocolo</th>
                                                <th>Versión</th>
                                                <th>Fecha</th>
                                                <th></th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr>
                                                <td>Generación de ematofitos</td>
                                                <td>1.0</td>
                                                <td>Julio 14, 2012</td>
                                                <td><a href="#"><i class="fa fa-eye text-navy"></i></a></td>
                                            </tr>
                                            <tr>
                                                <td>Generación de peematofitos</td>
                                                <td>2.0</td>
                                                <td>Julio 14, 2012</td>
                                                <td><a href="#"><i class="fa fa-eye text-navy"></i></a></td>
                                            </tr>
                                            <tr>
                                                <td>Generación de geematofitos</td>
                                                <td>1.5</td>
                                                <td>Julio 14, 2015</td>
                                                <td><a href="#"><i class="fa fa-eye text-navy"></i></a></td>
                                            </tr>
                                            <tr>
                                                <td>Generación de tuoematofitos</td>
                                                <td>1.6</td>
                                                <td>Julio 14, 2013</td>
                                                <td><a href="#"><i class="fa fa-eye text-navy"></i></a></td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="ibox float-e-margins">
                            <div class="ibox-title">
                                <h5>Resúmen experimento</h5>
                                <div class="ibox-tools">
                                    <a class="collapse-link">
                                        <i class="fa fa-chevron-up"></i>
                                    </a>
                                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                        <i class="fa fa-wrench"></i>
                                    </a>
                                    <ul class="dropdown-menu dropdown-user">
                                        <li><a href="#">Config option 1</a>
                                        </li>
                                        <li><a href="#">Config option 2</a>
                                        </li>
                                    </ul>
                                    <a class="close-link">
                                        <i class="fa fa-times"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="ibox-content">
                                <div class="row">
                                    <div class="col-lg-5">
                                        <dl class="dl-horizontal">

                                            <dt>Created by:</dt>
                                            <dd>Alex Smith</dd>
                                            <dt>Messages:</dt>
                                            <dd> 162</dd>
                                            <dt>Client:</dt>
                                            <dd><a href="#" class="text-navy"> Zender Company</a></dd>
                                        </dl>
                                    </div>
                                    <div class="col-lg-7" id="cluster_info">
                                        <dl class="dl-horizontal">
                                            <dt>Last Updated:</dt>
                                            <dd>16.08.2014 12:15:57</dd>
                                        </dl>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <dl class="dl-horizontal">
                                            <dt>Descripción:</dt>
                                            <dd>Gran parte de los trabajos de investigación y desarrollo que están
                                                siendo llevados a cabo en distintas instituciones [1 – 6] se concentran
                                                en los aspectos de almacenamiento y búsqueda de información en las
                                                bibliotecas digitales y proponen la utilización de navegadores de
                                                Internet como la aplicación utilizada por los lectores para acceder a
                                                los libros. Si bien la estrategia de relegar la actividad de
                                                recuperación y visualización de libros digitales a los navegadores de
                                                Internet tiene varias ventajas, también cuenta con una cierta cantidad
                                                de factores negativos. Dentro de las principales ventajas y desventajas,
                                                podemos citar las siguientes: a. Ventajas Los navegadores de Internet
                                                son actualmente un tipo de aplicación de uso masivo que brinda a los
                                                usuarios una interfaz conocida y simple de utilizar. El lenguaje HTML
                                                utilizado para el desarrollo de páginas web proporciona aspectos
                                                adecuados para el desarrollo de libros como por ejemplo hipervínculos,
                                                imágenes, estilos de texto y otros. Como agregado, este lenguaje cuenta
                                                con una gran cantidad de aplicaciones orientadas al desarrollo de
                                                páginas HTML.
                                            </dd>
                                        </dl>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>