<div class="row">
    <div class="col-sm-12 col-lg-4">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Buscar proyectos</h5>
                <ui-ibox-tools [collapse]='true'></ui-ibox-tools>
            </div>
            <div class="ibox-content">
                <proyecto-list></proyecto-list>
            </div>
            <div class="ibox-title">
                <h5>Detalle Proyecto</h5>
            </div>
            <div class="ibox-content">
                <proyecto-detalle></proyecto-detalle>
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-lg-4">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Buscar experimentos</h5>
                <ui-ibox-tools [collapse]='true'></ui-ibox-tools>
            </div>
            <div class="ibox-content">
                <experimento-buscador></experimento-buscador>
            </div>
        </div>
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Detalles del experimento</h5>
                <ui-ibox-tools [collapse]='true'></ui-ibox-tools>
            </div>
            <div class="ibox-content">
                <experimento-detalles></experimento-detalles>
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-lg-4">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Buscar protocolos</h5>
            </div>
            <div class="ibox-content">
                <protocolo-buscador></protocolo-buscador>
            </div>
            <div class="ibox-title">
                <h5>Detalle protocolo</h5>
            </div>
            <div class="ibox-content">
                <protocolo-detalle></protocolo-detalle>
            </div>
        </div>
    </div>
</div>