<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav metismenu" id="side-menu">
            <li class="nav-header">

                <div class="profile-element" uib-dropdown>
                    <a uib-dropdown-toggle href>
                            <span class="clear">
                                <span class="block m-t-xs">
                                    <strong class="font-bold">Example user</strong>
                             </span>
                                
                            </span>
                    </a>
                    
                </div>
                <div class="logo-element">
                    LAB
                </div>

            </li>

            <li class="active">
                <a [routerLink]="['/panel-control']"><i class="fa fa-bar-chart fa-lg fa-inverse"></i> <span class="nav-label">Inicio</span> </a>
            </li>
            <li>
                <a><i class="fa fa-cubes fa-lg fa-inverse"></i> <span class="nav-label">Inventario</span></a>
            </li>
            <li>
                <a [routerLink]="['/proyectos']"><i class="fa fa-tachometer fa-lg fa-inverse"></i> <span class="nav-label">Proyectos</span></a>
            </li>
            <li>
                <a [routerLink]="['/protocolos']"><i class="fa fa-flask fa-lg fa-inverse"></i> <span class="nav-label">Protocolos</span></a>
            </li>
        </ul>

    </div>
</nav>