

<div class="wrapper wrapper-content animated fadeIn">
    <div class="row">
        <div class="col-lg-11">
            <form class="form-horizontal" name="perfil">
                <div class="form-group">
                    <label class=" col-lg-2 control-label">Seleccionar Perfil</label>
                    <div class="col-lg-10">
                        <select [(ngModel)]="panelSeleccionado" [ngModelOptions]="{standalone: true}" class="form-control m-b">
                            <option value="jefe">Jefe de Laboratorio</option>
                            <option value="cientifico">Científico</option>
                            <option value="asistente">Asistente de Investigación</option>
                        </select>

                    </div>
                </div>
            </form>
        </div>
    </div>
    <lab-panel-cientifico *ngIf='panelSeleccionado=="cientifico"'></lab-panel-cientifico>
    <lab-panel-asistente *ngIf='panelSeleccionado=="asistente"'></lab-panel-asistente>


    <dd-cienti></dd-cienti>
</div>