<div class="row">
    <div class="col-lg-12">
        <div class="wrapper wrapper-content">
            <div class="row">
                <div class="col-lg-8">

                    <lab-equipos></lab-equipos>
                    <proyecto-list></proyecto-list>



                </div>
                <div class="col-lg-4">
                    <lab-insumos></lab-insumos>
                    <br><br>
                    <lab-notificaciones></lab-notificaciones>
                </div>
            </div>
        </div>
    </div>

</div>
 