<div class="row">

    <div class="col-sm-12 col-lg-6 col-md-6">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Proyectos En ejecucion </h5>
                <ui-ibox-tools [collapse]='true'></ui-ibox-tools>
            </div>

              <proyecto-list></proyecto-list>

            </div>
        </div>
    </div>
    <div class="col-sm-12 col-lg-6 col-md-6">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Solicitudes de Insumos por Aprobar</h5>
                <ui-ibox-tools [collapse]='true'></ui-ibox-tools>
            </div>
            <lab-notificaciones></lab-notificaciones>
        </div>
    </div>
