<div class="col-lg-12">
<div class="ibox float-e-margins">
    <div class="ibox-title">
        <h5>New data for the report</h5> <span class="label label-primary">IN+</span>
        <div class="ibox-tools">
            <a class="collapse-link">
                <i class="fa fa-chevron-up"></i>
            </a>
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                <i class="fa fa-wrench"></i>
            </a>
            <ul class="dropdown-menu dropdown-user">
                <li><a href="#">Config option 1</a>
                </li>
                <li><a href="#">Config option 2</a>
                </li>
            </ul>
            <a class="close-link">
                <i class="fa fa-times"></i>
            </a>
        </div>
    </div>
    <div class="ibox-content">

                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label" for="search">Project Name</label>
                            <input (keyup)="getEquipos($event)" id="search" [(ngModel)]="search" type="text" value="" placeholder="Buscar Equipos" class="form-control">
                        </div>
                    </div>

                    <div class="col-sm-2">

                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="control-label" for="order">Status</label>
                            <select (ngModelChange)="getEquipos()" [(ngModel)]="selectedOrder" name="order" id="order" class="form-control">
                                <option value="nombre" selected="">nombre asc</option>
                                <option value="-nombre">nombre des</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <div>{{expression | json}}</div>
                        <div class="table-responsive">
                            <table class="table table-striped">
                                <tbody>
                                <tr *ngFor="let item of list" >

                                    <td>{{item.nombre}}</td>
                                    <td>Patrick Smith</td>
                                    <td>
                                        <input (ngModelChange)="getDateCalendar(item.id)" type="checkbox" [(ngModel)]="item.selected" />
                                    </td>
                                </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="col-sm-8">
                        <div id="calendar"></div>
                    </div>
                </div>
            </div>
    </div>
</div>

