<div class="row">
    <div class="col-sm-12">
        <div class="form-group">
            <input placeholder="Filtrar" class="input-sm form-control" type="text"/>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Protocolo </th>
                    <th>Versión </th>
                    <th>Fecha</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Generación de ematofitos</td>
                    <td>1.0</td>
                    <td>Julio 14, 2012</td>
                    <td><a href="#"><i class="fa fa-eye text-navy"></i></a></td>
                </tr><tr>
                    <td>Generación de peematofitos</td>
                    <td>2.0</td>
                    <td>Julio 14, 2012</td>
                    <td><a href="#"><i class="fa fa-eye text-navy"></i></a></td>
                </tr><tr>
                    <td>Generación de geematofitos</td>
                    <td>1.5</td>
                    <td>Julio 14, 2015</td>
                    <td><a href="#"><i class="fa fa-eye text-navy"></i></a></td>
                </tr><tr>
                    <td>Generación de tuoematofitos</td>
                    <td>1.6</td>
                    <td>Julio 14, 2013</td>
                    <td><a href="#"><i class="fa fa-eye text-navy"></i></a></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>