<form method="get" class="form-horizontal">
    <div class="form-group"><label class="col-lg-4 control-label">Nombre:</label>
        <div class="col-lg-8">Separación de sangre por centriguración</div>
    </div>
    <div class="form-group"><label class="col-lg-4 control-label">Objetivo:</label>
        <div class="col-lg-8">Obtener el RH de la muestra</div>
    </div>
    <div class="form-group"><label class="col-lg-4 control-label">Fecha:</label>
        <div class="col-lg-8">Jul 3 2015</div>
    </div>
    <div class="form-group"><label class="col-lg-4 control-label">Protocolos Asociados:</label>
        <div class="col-lg-8" style="word-wrap:break-word;">
            <li>BG-45</li>
            <li>BW-38</li>
            <li>B-12</li>
        </div>
    </div>
</form>