<div class="row">
    <div class="col-sm-12">
        <div class="form-group">
            <input placeholder="Filtrar" class="input-sm form-control" type="text"/>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Protocolo </th>
                    <th>Versión </th>
                    <th>Fecha</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let protocolo of protocolos" >
                    <td>{{ protocolo.nombre }}</td>
                    <td>{{ protocolo.version }}</td>
                    <td>{{ protocolo.fecha }}</td>
                    <td><a href="#"><i class="fa fa-eye text-navy"></i></a></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

