<div class="row">
    <div class="col-sm-12">
        <ul class="list-group clear-list m-t">
            <li class="list-group-item fist-item">
                <span class="pull-right">
                    5gr
                </span>
                <span class="label label-success">1</span> Sal
            </li>
            <li class="list-group-item">
                <span class="pull-right">
                    10gr
                </span>
                <span class="label label-info">2</span> Azucar
            </li>
            <li class="list-group-item">
                <span class="pull-right">
                    100l
                </span>
                <span class="label label-primary">3</span> Agua
            </li>
            <li class="list-group-item">
                <span class="pull-right">
                    5m
                </span>
                <span class="label label-default">4</span> Revolver: Revovler la mestra en forma circular hasta que se disuelva
            </li>
        </ul>
    </div>
</div>