<div class="row">
    <div class="col-lg-5">
        <dl class="dl-horizontal">

            <dt>Idetificador:</dt>
            <dd>1231235</dd>
            <dt>Título:</dt>
            <dd> 162</dd>
        </dl>
    </div>
    <div class="col-lg-7" id="cluster_info">
        <dl class="dl-horizontal">
            <dt>Estado:</dt>
            <dd>Exitoso</dd>
            <dt>Versión:</dt>
            <dd>1.2</dd>
        </dl>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <dl class="dl-horizontal">
            <dt>Descripción:</dt>
            <dd>Gran parte de los trabajos de investigación y desarrollo que están
                siendo llevados a cabo en distintas instituciones [1 – 6] se concentran
                en los aspectos de almacenamiento y búsqueda de información en las
                bibliotecas digitales y proponen la utilización de navegadores de
                Internet como la aplicación utilizada por los lectores para acceder a
                los libros. Si bien la estrategia de relegar la actividad de
                recuperación y visualización de libros digitales a los navegadores de
                Internet tiene varias ventajas.
            </dd>
        </dl>
    </div>
</div>
<div class="row">
    <div class="col-sm-12 text-center">
        <button class="btn btn-primary" type="submit">Visualizar</button>
        <button class="btn btn-warning" type="submit">Modificar</button>
        <button class="btn btn-danger" type="submit">Eliminar</button>
    </div>
</div>