<head>
  <meta charset="UTF-8">
  <title>proyecto</title>
</head>
<body>

<div class="ibox-content">

  <h2> Asociar Experimento</h2>
  <div class="row">
    <div class="col-sm-12">
      <div class="row">
        <div class="col-sm-12">
          <div class="form-group">
            <input placeholder="Filtrar" class="input-sm form-control" type="text"/>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12" style="overflow-y: scroll; max-height:400px;">
          <table class="table table-striped">
            <thead>
            <tr>
              <th>Experimento</th>
              <th>Versión</th>
              <th>Fecha</th>
              <th>detalle</th>
            </tr>
            </thead>
            <tr *ngFor="let item of experimentos" (click)="onSelect(item)">
              <td>{{ item.experimento }}</td>
              <td>{{ item.objetivo }}</td>
              <td>{{ item.fecha }}</td>
              <td><a><i class="fa fa-sign-out text-navy"></i></a></td>
            </tr>

          </table>
        </div>

      </div>
    </div>
  </div>
</div>


<div class="ibox-content" *ngIf="experimento.experimento">
  <h2>{{experimento.experimento}}
    <small><strong> {{experimento.objetivo}}</strong></small>
  </h2>

  <hr>
  <div class="row">
    <div class="col-sm-12">
      <div class="row">
        <div class="col-sm-12">
          <h4>Descripción:</h4>
          {{experimento.descripcion}}
          <hr>
        </div>

        <div class="col-sm-12">
          <h4>Insumos:</h4>
          {{experimento.insumos}}
          <hr>
        </div>
        <div class="col-sm-12">
          <h4>Asistentes:</h4>
          {{experimento.asistentes}}
          <hr>
        </div>
        <div class="col-md-4">
    <button [routerLink]="['/proyecto',idProyecto]" class="btn btn-primary btn-md" (click)="getProyecto(experimento)">
      agregar
    </button>
  </div>
      </div>
      <div class="row">
        <div class="col-sm-12" style="overflow-y: scroll; max-height:400px;">

        </div>

      </div>
    </div>
  </div>
</div>


</body>

